 .header{
    padding:20px;
    background-color: blue;
 }
 .main h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin:40px 0px 0px 0px;
    font-size: 3em;
    text-align: center;
    color :rgb(255, 31, 31);
    
 }
.main{
    background-image: url(glencanyon_istock_000002227945large.jpg);
    background-size:cover; 
    background-position:center;
 }




 nav {
    position: absolute;
    top: 0;
    right: 0;
}

nav ul {
    list-style: none;
    margin: 20px 20px 0px 0px;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
    margin-top: 10px;
}

nav ul li a.button {
    font-size: medium;
    text-decoration: none;
    color: #ffffff;
    
    padding: 10px 20px;
    border: 2px solid #f5f3f3;
    border-radius: 5px;
    transition: 0.3s;
     
}

nav ul li a.button:hover {
    padding: 13px 25px;
    color: #ffffff;
    border: 5px solid #5571d8;
    background-color: #171616;
}











 .footer{
    margin:500px 0px 0px 0px;
    padding: 20px;
    background-color:rgb(70, 69, 69);
    color:white;
 }